@import '../../scss/main.scss';

.header{
    margin-bottom: rem(50);
    .header-wrapper{
        background-color: $color-white;
        @include wrapper;
        display: flex;
        flex-direction: column;
        border-radius: rem(5);

        @include desktop{
            flex-direction: row;
        }
    }

    .header-aside{
        background-color: $color-aside;
        width: 100%;
    }


    .header-aside-container{
        @include vertical-spacing-bottom(0.5);
        @include vertical-spacing-top(0.5);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .header-aside-title{
        @include mobile{
            font-size: rem(30);
            margin-right: rem(20);
        }
        color: $color-txt;
        font-size: rem(23);
        
        .fa-fire-alt{
            color: $color-target;
        }
    }

    .header-aside-bg-menu{
        @include resetBtn;
        position: relative;
        outline: 0;
        width: rem(30);
        height: rem(30);
        i{
            position: absolute;
            left: 0;
            background-color: $color-target;
            height: 3px;
            width: 100%;
            display: block;
            border-radius: rem(30);
            overflow: hidden;
            transition: all .2s;

            &:nth-child(1) {
                top: rem(6);
            }

            &:nth-child(2),&:nth-child(3){
                top: rem(14);
            }

            &:nth-child(4){
                top: rem(22);
            }
        }

        @include desktop{
            display: none;   
        }
    }

    .header-aside-element{
        text-align: center;
        color: $color-grey-dark;
        list-style-type: none;
        text-transform: capitalize;
        margin-bottom: rem(15);
        font-size: rem(17);
        padding: rem(20) rem(60) rem(20) rem(60);
        cursor: not-allowed;
        &:first-child{
            background-color: $color-target-light;
            color: $color-txt;
            cursor: pointer;
        }
    }
}