<div class="header">
    <div class="header-wrapper">
        <aside class="header-aside">
            <div class="header-aside-container">
                <h1 class="header-aside-title"><i class="fas fa-fire-alt"></i> Cruncher</h1>
                <button type="button" class="header-aside-bg-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </button>
            </div>
            <ul class="header-aside-menu">
                <li class="header-aside-element"><i class="fas fa-apple-alt aside-icon"></i> macros calc</li>
                <li class="header-aside-element"><i class="fas fa-calculator aside-icon"></i> tracl kcal</li>
                <li class="header-aside-element"><i class="fas fa-weight aside-icon"></i> body fat calc</li>
                <li class="header-aside-element"><i class="fas fa-feather aside-icon"></i> ideal weight</li>
            </ul>
        </aside>
    </div>
</div>

