<div class="header-top">
    <div class="header-top-wrapper">
        <h2 class="macro-header-title"><i class="fas fa-apple-alt aside-icon"></i> macros calculator</h2>

        <div class="macro-header-user">
            <i class="fas fa-user-circle"></i>
            <p class="macro-header-name">Invité</p>
            <i class="fas fa-caret-down"></i>
        </div>
</div>
