@import '../../scss/main.scss';

.header-top{
    .header-top-wrapper{
        display: none;

        @include desktop{
            display: block;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(25) rem(20) rem(25) rem(20);
            border-bottom: rem(1) solid $color-grey-dark;
            color: $color-txt;
            font-weight: normal;
        }
    }

    .macro-header-title{
        text-transform: capitalize;
        font-size: rem(20);
        font-weight: normal;
    }
    
    .macro-header-user{
        display: flex;
        align-items: center;
        font-size: rem(20);
    }
    
    .macro-header-name{
        margin-right: rem(10);
        margin-left: rem(10);
    }
}