//color generic
$color-black: black;
$color-white: white;
$color-grey: grey;
$color-grey-light: #F3F3F3;
$color-grey-dark: #B6B6B6;




//color site
$color-main: purple;
$color-aside: $color-grey-light;
$color-txt: #08215A;
$color-target: rgb(138 43 226);
$color-target-light: rgb(138 43 226 / 25%);
$color-form: #55CEFF;

//Fonts
