@import '../../scss/main.scss';

.calcul-kcal{
    .calcul-kcal-wrapper{
        // @include mobile{
        //     text-align: center;
        // }
    }

    .calcul-kcal-container{
        margin-bottom: rem(30);
    }

    .calcul-kcal-label{

    }

    .calcul-kcal-container{
        margin-top: rem(5);
    }

    .calcul-kcal-calculator-info{
        width: 100%;
        padding: rem(20);
        color: $color-txt;
        
        // @include desktop{
        //     width: 60%;
        // }
    }

    .calcul-kcal-info-container{
        margin-bottom: rem(30);
    }

    .calcul-kcal-info-title{
        font-size: rem(25);
        text-transform: capitalize;
        margin-bottom: rem(5);

        @include desktop{
            font-size: rem(30);
        }
    }

    .calcul-kcal-form-element{
        margin-bottom: rem(40);
    }

    .calcul-kcal-form-title{
        margin-bottom: rem(5);
        font-size: rem(17);
    }

    .calcul-kcal-form-container{
        display: flex;
        text-align: center;
        
        flex-wrap: wrap;

        @include desktop{
            flex-wrap: nowrap;
        }
    }

    input[type='radio']:after{
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: $color-target;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    .calcul-kcal-form-components{
        margin-bottom: rem(5);
        margin-right: rem(10);
    }

    // .calcul-kcal-form-radio{
    //     padding: rem(5) rem(20) rem(5) rem(20);
    //     background-color: $color-grey-light;
    //     color: $color-txt;
        
    //     @include desktop{
    //         padding: rem(10) rem(50) rem(10) rem(50);
    //     }
    // }

    .calcul-kcal-form-radio-checked{
        background-color: $color-form;
        border-radius: rem(5);
    }

    .calcul-kcal-form-radio-activity{
        padding: rem(5) rem(10) rem(5) rem(10);
        &:first-child{
            padding: rem(5) rem(10) rem(5) rem(0);
        }

        @include desktop{
            padding: rem(5) rem(20) rem(5) rem(20);
        }
    }

    .calcul-kcal-form-input-radio{
        //display: none;
    }

    .calcul-kcal-form-label{
        display: block;
        margin-bottom: rem(5);
        font-weight: bold;
        font-size: rem(17);
    }

    .calcul-kcal-form-age{
        border: none;
        border-bottom: rem(1) solid $color-grey-dark;
        padding-bottom: rem(5);
        padding-top: rem(5);
        width: 25%;
        outline: none;
        background-color: $color-white;

        @include desktop{
            width: 15%;
        }
    }

    .calcul-kcal-form-size{
        @extend .calcul-kcal-form-age;
    }

    .calcul-kcal-form-weight{
        @extend .calcul-kcal-form-age;
    }

    .calcul-kcal-form-send{
        @include resetBtn;
        width: 100%;
        background-color: $color-target;
        padding-top: rem(15);
        padding-bottom: rem(15);
        border-radius: rem(5);
        color: $color-white;
    }
}