<div class="calcul-kcal">
    <div class="calcul-kcal-wrapper">
        <app-header-top></app-header-top>

        <div class="calcul-kcal-main">
            <div class="calcul-kcal-calculator-info">
                <div class="calcul-kcal-info-container">
                    <h2 class="calcul-kcal-info-title">Calculate your macros</h2>
                    <p class="calcul-kcal-info-explanation">Craft you ideal macronutriment ratio now using our macros calculator</p>
                </div>

                <div class="calcul-kcal-form">
                    <form (ngSubmit)="onSubmit(calculkcal)" #calculkcal="ngForm">

                        <div class="calcul-kcal-sexe">
                            <label class="calcul-kcal-label">What's your sexe ? </label>
                            <div class="calcul-kcal-sexe-container calcul-kcal-container">
                                <input type="radio" name="sexe" value="men" ngModel> Men
                                <input type="radio" name="sexe" value="woman" ngModel> Woman
                            </div>
                        </div>

                        <div class="calcul-kcal-weight-goal">
                            <label class="calcul-kcal-label">What's your main weight goal ? </label>
                            <div class="calcul-kcal-weight-goal-container calcul-kcal-container">
                                <input type="radio" name="weightGoal" value="lose" ngModel> Lose
                                <input type="radio" name="weightGoal" value="maintain" ngModel> Maintain
                                <input type="radio" name="weightGoal" value="gain" ngModel> Gain
                            </div>
                        </div>

                        <div class="calcul-kcal-age">
                            <label class="calcul-kcal-label" for="age">What's your age ? </label>
                            <div class="calcul-kcal-container">
                                <input type="text" name="age" ngModel required>
                            </div>
                        </div>

                        <div class="calcul-kcal-size">
                            <label class="calcul-kcal-label" for="size">What's your size ? </label>
                            <div class="calcul-kcal-container">
                                <input type="text" name="size" ngModel required>
                            </div>
                        </div>

                        <div class="calcul-kcal-weight">
                            <label class="calcul-kcal-label" for="weight">What's your weight ? </label>
                            <div class="calcul-kcal-container">
                                <input type="text" name="weight" ngModel required>
                            </div>
                            
                        </div>

                        <div class="calcul-kcal-activity">
                            <label class="calcul-kcal-label">What's your activity level ? </label>
                            <div class="calcul-kcal-activity-container calcul-kcal-container">
                                <input type="radio" name="activity" value="1" ngModel> 1
                                <input type="radio" name="activity" value="1.2" ngModel> 2
                                <input type="radio" name="activity" value="1.5" ngModel> 3
                                <input type="radio" name="activity" value="1.8" ngModel> 4
                                <input type="radio" name="activity" value="2" ngModel> 5
                            </div>
                        </div>

                        <button class="calcul-kcal-form-submit" type="submit" [disabled]="calculkcal.invalid">Calculer</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


